<section><h6 id="about-me"><center>Hi, I'm Benjamin. This is my story.</center></h6><div class="about-lock"><div class="flip-container"><div class="flipper"><div class="front"><div class="face-img"></div></div><div class="back"><div class="face1-img"></div></div></div></div><img class="plane" src="../assets/img/airplane-shape.png"><img class="rocket" src="../assets/img/startup.png"><img class="gear" src="../assets/img/computer-configuration.png"><img class="code" src="../assets/img/programming-code.png"></div></div><div class="blurb"><p>I am an undergraduate Mechanical Engineering student at McGill University with a minor in Computer Science. Being a diligent and self-motivated individual, I am driven to approach any challenge and to bring high-level contributions to projects. I combine my engineering spirit and experience in team collaboration to solve fundamental problems and to deliver exceptional results.</p>
<p>Passionate about technology and innovation, I strive to continue to explore and provide value to every field I work in. 
</p>
<p>
    To check out some of the things that I've built, check out my Portfolio page or my GitHub profile linked below. 
</p>
</div><div class="skill-lock"></div></section>
