---
layout: default
---

{% include header.html %}

{% include about.html %}

{% include history.html %}

<h6 id="Blog"> Get into my brain. </h6>


{% for post in site.categories['blog'] limit:3%}

    <div class="post-header title">
      <a href="{{post.url}}"><h4 class="post-title">{{ post.title }}</h4></a>
    </div>
    <div class="post-header date">
      <h5 class="post-meta">{{ post.date | date: "%B %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</h5>
    </div>

{% endfor %}


<h2 id="Blog"><a href="/posts"> More >> </a></h2>


{% include contact.html %}


